@page "/cnn"
@inject HttpClient Http

<PageTitle>Image Classifier</PageTitle>

<h1>Image Classifier</h1>

<p>
    The author added an image classifier using TensorFlow and Keras, please upload an image containing one of the following flowers: daisy, dandelion, rose, sunflower, tulip.
    Once the image has been uploaded, please click <strong class="p-1 rounded mud-theme-primary">SUBMIT</strong> to send a request to the server. The model will then determine which flower is most likely to be shown in the image,
    along with it's confidence score.
</p>

<MudForm Model="@model" @ref="form" Validation="@(ValidationRules.ValidateValue)" ValidationDelay="0" @bind-IsValid="@success" @bind-Errors="@errors">
    <MudStack Spacing="5">
        <MudStack Row AlignItems="AlignItems.Start" Justify="Justify.FlexStart">
             <MudFileUpload T="IBrowserFile" Class="m-0" For="@(() => model.File)" Accept=".png, .jpg" FilesChanged="UploadFiles" MaximumFileCount="100">
                 <ButtonTemplate>
                     <MudButton HtmlTag="label"
                                Variant="Variant.Filled"
                                Color="Color.Primary"
                                StartIcon="@Icons.Material.Filled.CloudUpload"
                                for="@context.Id">
                         Upload Image
                     </MudButton>
                 </ButtonTemplate>
                 <SelectedTemplate>
                     <MudText Style=@($"color: {Colors.Grey.Darken1}")>@model.File?.Name</MudText>
                 </SelectedTemplate>
             </MudFileUpload>
             <div>
                 <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await Submit())">Submit</MudButton>
             </div>
        </MudStack>
        @if (!string.IsNullOrEmpty(base64String))
        {
            <div style="width: 300px">
                <MudCard>
                    <MudCardContent>
                        <MudImage Src="@base64String" Fluid />
                     </MudCardContent>
                 </MudCard>
            </div>
        }
        @if(response != null)
        {
            <MudCard>
                <MudCardContent>
                    <MudText>This image is part of the class <strong style=@($"color: {Colors.Green.Default}")>@response?.Prediction</strong>, with a confidence score of <strong style=@($"color: {Colors.Green.Default}")>@(Math.Round(response!.Confidence, 2))</strong></MudText>
                </MudCardContent>
            </MudCard>
        }
        else if (!string.IsNullOrEmpty(httpError))
        {
            <MudCard>
                <MudCardContent>
                    <MudText Color="Color.Error">@httpError</MudText>
                </MudCardContent>
            </MudCard>
        }
    </MudStack>
</MudForm>
